.backgroundImage {
  background: rgb(105, 96, 96);
  text-align: center;
  color: white;
}

.centered {
  color: white;
  font-size: 3em;
  font-weight: bold;
  padding-top: 150px;
  height: 95vh;
}

.homeCard {
  height: 260px;
  margin-top: 20px;
  margin-bottom: 30px;
}

h4 {
  font-weight: bold;
}

hr {
  border-top: 2px ridge white;
  width: 80%;
}
