.formContainer {
  border-radius: 8px;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.input-group-text {
  width: 40px;
}

.input-group {
  width: 80%;
  margin: auto;
}

.loginButton {
  margin: auto;
}

.passwordIcon {
  font-size: 1.2em;
}
