.commentary {
  width: 50%;
  height: 30vh;
}

.threeInput {
  width: 200px;
  margin-right: 20px;
}

.textAlignLeft {
  text-align: left;
}

.marginMultipleOption {
  margin-bottom: 4vh;
}

.marginNumber,
.marginOption {
  margin-bottom: 2vh;
}

.hasAnswered {
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
  color: rgb(54, 54, 54);
  margin-top: 15px;
}
