.espaceRh {
  min-height: 80vh;
}

.card {
  border-top-width: 3px;
  border-color: #cfdbe2;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 0.25rem;
}

.card-header {
  background-color: #fff;
  border-bottom: 0;
}
