footer {
  background-color: #c0c0c0;
}

.legalMentions {
  cursor: pointer;
  font-size: 0.9em;
}

.legalMentions:hover {
  text-decoration: underline;
}

.heart {
  color: red;
}

.madeWithLove {
  font-size: 0.9em;
  text-decoration: none;
  color: white;
}

.adresseOuvert {
  font-size: 0.9em;
  text-decoration: none;
}

.madeWithLove:hover {
  text-decoration: none;
  color: white;
}
