.successMsg {
  color: rgb(39, 105, 39);
  margin: 12%;
  padding-top: 5%;
  font-size: 1em;
  background-color: rgb(190, 245, 190);
  border-radius: 8px;
  padding-bottom: 5%;
}

.listAddress {
  padding: 15px;
}

.importAddress {
  max-height: 250px;
  overflow: scroll;
}

.csvExample {
  font-size: 0.9em;
}

.totalAddresses {
  font-size: 1em;
  color: rgb(48, 48, 49);
  font-style: italic;
}

.titleExample {
  font-size: 0.9em;
  font-style: italic;
}

.leaflet-container {
  height: 400px;
  max-width: 90%;
  margin: auto;
}

.legend {
  text-align: left;
  font-size: 0.8em;

  padding-left: 35px;
  padding-top: 10px;
  border-radius: 3%;
}

.bluePolygon {
  color: rgb(55, 55, 226);
  background-color: rgb(55, 55, 226);
  font-size: 0.5em;
  line-height: 0.5px;
}

.redPolygon {
  color: rgb(224, 55, 26);
  background-color: rgb(224, 55, 26);
  font-size: 0.5em;
  line-height: 0.5px;
}

.yellowPolygon {
  color: rgb(235, 235, 8);
  background-color: rgb(235, 235, 8);
  font-size: 0.5em;
  line-height: 0.5px;
}

.separator {
  border: none;
  border-left: 1px solid rgb(202, 195, 195);
  width: 1px;
  height: 350px;
}

.stats {
  font-size: 2em;
}

.statistics {
  text-align: left;
  padding: 20px;
}

.pdfButton {
  background-color: rgb(177, 53, 53);
}

.importButton,
.saveButton,
.geolocButton {
  background-color: #dbddf0;
  color: rgb(41, 39, 39);
}

.spinnerLogo {
  animation: spinnerLogo infinite 2s linear;
  height: 5vmin;
}

@keyframes spinnerLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
