header {
  background-color: rgba(141, 136, 136, 0.411);
}

.nav-item,
.navbar-brand {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding-right: 30px;
}

.logLink:hover,
.contactLink:hover {
  text-decoration: none;
  border-bottom: 1px solid white;
  color: rgb(255, 255, 255);
}
