header {
  background: linear-gradient(
    to bottom,
    rgb(210, 216, 210) 0%,
    rgb(172, 167, 167) 100%
  );
}

.navLink,
.navbar-brand {
  text-decoration: none;
  color: #fff;
}

.navLink:hover {
  color: #fff;
}
