.errorMsg {
  color: #cc0000;
  font-style: italic;
  text-align: left;
  padding-bottom: 10px;
  padding-top: 5px;
  padding-left: 20px;
}

.emptyMsg {
  color: #cc0000;
  font-style: italic;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 15px;
}

.inscriptionForm {
  text-align: left;
}

button {
  background-color: #38909d;
}

input {
  margin-bottom: 30px;
}
