.merde {
  text-align: center;
}

.containerBar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 33vh;
}

.bingo {
  height: 100%;
}

.flexxx {
  display: flex;
  justify-content: space-between;
}

.testons {
  display: flex;
  align-items: flex-end;
}

.borderRight {
  border-right: 2px black solid;
}

.hhh {
  height: 100%;
}

.borderLeft {
  border-left: 2px black solid;
}

.textAlignRight {
  text-align: right;
}

.containerResultBar {
  border-left: 2px black solid;
  border-bottom: 2px black solid;
}

.piesContainer {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.8);
}

.bgWhiteOpac {
  background-color: rgba(255, 255, 255, 0.8);
}

.colHundred {
  height: 33%;
  display: flex;
  align-items: flex-start;
  text-align: left;
  font-weight: bold;
}

.barTitle {
  word-wrap: break-word;
  font-size: 0.8em;
  font-weight: bold;
}

.componentTitle {
  font-weight: bold;
  font-size: 1.5em;
}

.justifyContentRight {
  display: flex;
  justify-content: right;
  color: white;
}

.colFifty {
  height: 33%;
  display: flex;
  align-items: center;
  text-align: left;
  font-weight: bold;
}

.colZero {
  height: 33%;
  display: flex;
  align-items: flex-end;
  text-align: left;
  font-weight: bold;
}

.dataResultText {
  font-weight: bold;
  font-size: 1.5em;
  margin-left: 1%;
}

.contentResultText {
  color: black;
  font-size: 1.2em;
}

.contentTotalResult {
  color: white;
  font-size: 2.4em;
}

.alignItems {
  text-align: right;
}

.align {
  display: flex;
  justify-content: right;
  align-items: center;
}

.alignItemss {
  display: flex;
  text-align: left;
}

.ccc {
  height: 3vh;
}

.bidule {
  display: flex;
  align-items: center;
}
