.containerBar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 33vh;
}

.containerResultBar {
  border-bottom: 2px black solid;
  border-left: 2px black solid;
}

.piesContainer {
  display: flex;
  justify-content: space-evenly;
}

.colHundred {
  height: 33%;
  display: flex;
  align-items: flex-start;
  text-align: left;
  font-weight: bold;
}

.barTitle {
  word-wrap: break-word;
  font-size: 0.8em;
  font-weight: bold;
}
