.App {
  text-align: center;
}

body {
  min-height: 80vh;
  background: linear-gradient(rgba(63, 60, 60, 0.4), rgba(63, 36, 36, 0.4)),
    url("/img/background.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: rgb(78, 78, 78);
  font-family: "Abel", sans-serif;
}
